@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* 화면 전체 렙 */
.wrapper {
  width: 100%;
}

/* content 랩 */
.wrap {
  width: 620px;
}
/* 페이지 제목 */
.subjecet {
  text-align: center;
  width: 100%;
  height: 60px;
  margin-top: 80px;
}
.subjecet span {
  margin-left: 31px;
  font-size: 40px;
  font-weight: 900;
  color: black;
}

/* 아이디 영역 */
.id_wrap {
  width: 100%;
  margin-top: 10px;
}
.id_name {
  font-size: 1rem;
  font-weight: bold;
}
.id_input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 25px;
  border: 1px solid black;
  height: 31px;
  padding: 10px 14px;
}
/* 중복아이디 존재하지 않는경우 */
.id_input_re_1 {
  color: green;
  display: none;
}
/* 중복아이디 존재하는 경우 */
.id_input_re_2 {
  color: red;
  display: none;
}

/* 비밀번호 영역 */
.pw_wrap {
  width: 100%;
  margin-top: 10px;
}
.pw_name {
  font-size: 1rem;
  font-weight: bold;
}

.pw_input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 25px;
  border: 1px solid black;
  height: 31px;
  padding: 10px 14px;
}

/* 비밀번호 확인 영역 */
.pwck_wrap {
  width: 100%;
  margin-top: 10px;
}
.pwck_name {
  font-size: 1rem;
  font-weight: bold;
}

.pwck_input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 25px;
  border: 1px solid black;
  height: 31px;
  padding: 10px 14px;
}

/* 이름 영역 */
.user_wrap {
  width: 100%;
  margin-top: 10px;
}
.user_name {
  font-size: 1rem;
  font-weight: bold;
}

.user_input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 25px;
  border: 1px solid black;
  height: 31px;
  padding: 10px 14px;
}

/* 메일 영역 */
.mail_wrap {
  width: 100%;
  margin-top: 10px;
}
.mail_name {
  font-size: 1rem;
  font-weight: bold;
}

.mail_input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 25px;
  border: 1px solid black;
  height: 31px;
  padding: 10px 14px;
}
.mail_check_wrap {
  margin-top: 10px;
}
.mail_check_input_box {
  border: 1px solid black;
  height: 31px;
  padding: 10px 14px;
  width: 61%;
  float: left;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}
#mail_check_input_box_false {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}
#mail_check_input_box_true {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
}
.mail_check_input {
    width: 350px;
  height: calc(1.5em+0.75rem+2px);
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.375rem 0.75rem;
}
.mail_check_button {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: 31px;
  width: 30%;
  float: right;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
  background-color: #ececf7;

  cursor: pointer;
}
.mail_check_button > span {
  line-height: 20px;
  vertical-align: middle;
}
.correct {
  color: green;
}
.incorrect {
  color: red;
}

/* 주소 영역 */
.address_wrap {
  width: 100%;
  margin-top: 10px;
}
.address_name {
  font-size: 1rem;
  font-weight: bold;
}
.address_input_1_box {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  height: 31px;
  padding: 10px 14px;
  width: 61%;
  float: left;
}
.address_input_1 {
  width: 350px;
  height: calc(1.5em+0.75rem+2px);
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.375rem 0.75rem;
}
.address_button {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: 31px;
  width: 30%;
  float: right;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
  background-color: #ececf7;

  cursor: pointer;
}
.address_button > span {
  line-height: 20px;
  vertical-align: middle;
}
.address_input_2_wrap {
  margin-top: 10px;
}
.address_input_2_box {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
}
.address_input_2 {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 25px;
}

.address_input_3_wrap {
  margin-top: 10px;
}
.address_input_3_box {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
}
.address_input_3 {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 25px;
}

/* 가입하기 버튼 */
.join_button_wrap {
  margin-top: 20px;
  text-align: center;
}


/* 유효성 검사 문구 */

.final_id_ck {
  display: none;
}
.final_pw_ck {
  display: none;
}

.final_pwck_ck {
  display: none;
}
.final_name_ck {
  display: none;
}
.final_mail_ck {
  display: none;
}
.final_addr_ck {
  display: none;
}

/* 비밀번호 확인 일치 유효성검사 */
.pwck_input_re_1 {
  color: green;
  display: none;
}
.pwck_input_re_2 {
  color: red;
  display: none;
}

/* float 속성 해제 */
.clearfix {
  clear: both;
}
